/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
html, body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  scroll-behavior: smooth;

}

* {
  position: relative;
}
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap :6px
}

video {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #333;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

img {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #333;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

hr {
  background-color: rgba(40, 40, 40, 0.1);
  border-bottom: 1px solid rgba(255,255,255,0.05);
}


/* 스크롤바 */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* 스크롤 바 */

::-webkit-scrollbar-track {
  background-color: #5e7ade22;
}

/* 스크롤 바 밑의 배경 */

::-webkit-scrollbar-thumb {
  background: #5e7ade;
  border-radius: 10px;
}

/* 실질적 스크롤 바 */

::-webkit-scrollbar-thumb:hover {
  background: #5e7ade;
}

/* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */

::-webkit-scrollbar-thumb:active {
  background: #5e7ade;
}

/* 실질적 스크롤 바를 클릭할 때 */

::-webkit-scrollbar-button {
  display: none;
}